{% extends "base.njk" %}

{% block title %}Matchslist - Modifier{% endblock %}
{% block navbar_title %}Modifier "{{m.clubA}} - {{m.clubB}}"{% endblock %}

{% block content %}
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
            <div class="center">
                <form action="/matchs/edit/{{m._id}}" method="post">
                    <div class="form-group">
                        <label for="inputDate">Date</label>
                        <input type="date" class="form-control" id="inputDate" name="inputDate" value="{{m.date}}" autofocus required>
                    </div>

                    <div class="form-group">
                        <label for="inputHeure">Heure</label>
                        <input type="time" class="form-control" id="inputHeure" name="inputHeure" value="{{m.heure}}" autofocus required>
                    </div>

                    <div class="form-group">
                        <label for="inputLieu">Lieu</label>
                        <input type="text" class="form-control" id="inputLieu" name="inputLieu" value="{{m.lieu}}" autofocus required>
                    </div>

                    <div class="form-group">
                            <label for="inputClubA">Club à domicile</label>
                            <select class="form-control" id="inputClubA" name="inputClubA" autofocus required>
                                {% for club in lesClubs %}
                                    {% if club==m.clubA %}
                                        <option value="{{club}}" selected>{{club}}</option>
                                    {% else %}
                                        <option value="{{club}}">{{club}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputClubB">Club à l'exterieur (visiteur)</label>
                            <select class="form-control" id="inputClubB" name="inputClubB" autofocus required>
                                {% for club in lesClubs %}
                                    {% if club==m.clubB %}
                                        <option value="{{club}}" selected>{{club}}</option>
                                    {% else %}
                                        <option value="{{club}}">{{club}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    <div class="form-group">
                        <label for="inputButsA">Buts du club à domicile</label>
                        <input type="text" class="form-control" id="inputButsA" name="inputButsA" value="{{m.butsA}}" autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputButsB">Buts du club à l'exterieur</label>
                        <input type="text" class="form-control" id="inputButsB" name="inputButsB" value="{{m.butsB}}" autofocus>
                    </div>

                    <button type="submit" class="btn btn-success">Modifier</button>
                </form>

                <br>
                <a class="btn btn-primary" href="/matchs" role="button">Retour</a>
            </div>
        </blockquote>
      </div>
    </div>
  </div>
{% endblock %}
