{% extends "base.njk" %}

{% block espace_compte %}

    <div class="text-right">
        <ul class="navbar-nav">
        
            {% if compte == null %}
                <div class="row">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</button>
                    <!--<a href="/matchs/login" class="btn btn-success" role="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a>-->
                </div>
                <div class="row">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalSignin"><i class="fa fa-address-book-o" aria-hidden="true"></i> S'inscrire</button>
                    <!--<a href="/matchs/signin" class="btn btn-warning" role="button"><i class="fa fa-address-book-o" aria-hidden="true"></i> S'inscrire</a>-->
                </div>
            {% else %}
                <div class="row">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLogout"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</button>
                    <!--<a href="/matchs/logout" class="btn btn-danger" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a>-->
                </div>
            {% endif %}

        </ul>
    </div>

{% endblock %}

{% block content %}

    <div class="col-md-10 offset-md-1">

        {% if compte == null %}
            <br>
            <div class="alert alert-info" role="alert">
                Vous n'êtes pas connecter. Connectez-vous pour ajouter et consulter des matchs.
            </div>
            <br>
        {% endif %}

        <div class="card card-outline-primary mb-3 text-center">
            <div class="card-title">Liste principale</div>
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <div class="center">
                        <table id="todolist" class="table table-bordered table-hover sortable">
                            <thead>
                                <tr>
                                    <th>Résultat</th>
                                    <th>Match</th>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Lieu</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if matchs_no_chk|length>0 and compte!=null %}

                                    {% for m in matchs_no_chk %}
                                        <tr>
                                            <td>{{m.clubA}} - {{m.clubB}}</td>
                                            <td>{% if m.butsA!=null and m.butsB!=null %}{{m.butsA}} - {{m.butsB}}{% else %}/{% endif %}</td>
                                            <td>{% if m.date.getDate()<10 %}0{% endif %}{{m.date.getDate()}}/{% if m.date.getMonth()+1<10 %}0{% endif %}{{m.date.getMonth()+1}}/{{m.date.getFullYear()}}</td>
                                            <td>{{m.heure}}</td>
                                            <td>{{m.lieu}}</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" href="/matchs/edit/{{m._id}}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a class="btn btn-success btn-sm" href="/matchs/check/{{m._id}}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                
                                {% else %}

                                    <tr>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                    </tr>

                                {% endif %}
                            </tbody>
                        </table>

                        <br>

                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddMatch">
                            Ajouter un match
                        </button>

                    </div>
                </blockquote>
            </div>
        </div>

        <br>

        <div class="card card-outline-primary mb-3 text-center">
            <br><div class="card-title">Liste secondaire</div>
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <div class="center">
                        <table id="todolist" class="table table-bordered table-hover sortable">
                            <thead>
                                <tr>
                                    <th>Résultat</th>
                                    <th>Match</th>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Lieu</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if matchs_chk|length>0 and compte!=null %}

                                    {% for m in matchs_chk %}
                                        <tr>
                                            <td>{{m.clubA}} - {{m.clubB}}</td>
                                            <td>{% if m.butsA!=null and m.butsB!=null %}{{m.butsA}} - {{m.butsB}}{% else %}/{% endif %}</td>
                                            <td>{% if m.date.getDate()<10 %}0{% endif %}{{m.date.getDate()}}/{% if m.date.getMonth()+1<10 %}0{% endif %}{{m.date.getMonth()+1}}/{{m.date.getFullYear()}}</td>
                                            <td>{{m.heure}}</td>
                                            <td>{{m.lieu}}</td>
                                            <td>
                                                <a class="btn btn-success btn-sm" href="/matchs/uncheck/{{m._id}}" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                <a class="btn btn-danger btn-sm" href="/matchs/delete/{{m._id}}" role="button"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}

                                    <tr>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                        <td>/</td>
                                    </tr>

                                {% endif %}
                            </tbody>
                        </table>

                        <br>

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoveAllMatchs">
                            Vider la liste
                        </button>

                    </div>
                </blockquote>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalSignin" tabindex="-1" role="dialog" aria-labelledby="modalSignin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/matchs/signin" method="post" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputMdp">Mot de passe</label>
                            <input type="password" class="form-control" id="inputMdp" name="inputMdp" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputMdpConfirm">Confirmer mot de passe</label>
                            <input type="password" class="form-control" id="inputMdpConfirm" name="inputMdpConfirm" autofocus required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Connexion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/matchs/login" method="post" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputMdp">Mot de passe</label>
                            <input type="password" class="form-control" id="inputMdp" name="inputMdp" autofocus required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modalLogout" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Déconnexion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/matchs/logout" method="get">

                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir vous déconnecter ?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Confirmer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddMatch" tabindex="-1" role="dialog" aria-labelledby="modalAddMatch" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un match</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/matchs/add/" method="post" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputDate">Date</label>
                            <input type="date" class="form-control" id="inputDate" name="inputDate" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputHeure">Heure</label>
                            <input type="time" class="form-control" id="inputHeure" name="inputHeure" value="21:00" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputLieu">Lieu</label>
                            <input type="text" class="form-control" id="inputLieu" name="inputLieu" placeholder="Barcelone" autofocus required>
                        </div>

                        <div class="form-group">
                            <label for="inputClubA">Club à domicile</label>
                            <select class="form-control" id="inputClubA" name="inputClubA" autofocus required>
                                {% for club in lesClubs %}
                                    {% if club=="FC Barcelone" %}
                                        <option value="FC Barcelone" selected>FC Barcelone</option>
                                    {% else %}
                                        <option value="{{club}}">{{club}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputClubB">Club à l'exterieur (visiteur)</label>
                            <select class="form-control" id="inputClubB" name="inputClubB" autofocus required>
                                {% for club in lesClubs %}
                                    {% if club=="Real Madrid" %}
                                        <option value="Real Madrid" selected>Real Madrid</option>
                                    {% else %}
                                        <option value="{{club}}">{{club}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputButsA">Buts du club à domicile</label>
                            <input type="text" class="form-control" id="inputButsA" name="inputButsA" placeholder="4" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputButsB">Buts du club à l'exterieur</label>
                            <input type="text" class="form-control" id="inputButsB" name="inputButsB" placeholder="1" autofocus>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemoveAllMatchs" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAllMatchs" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vider la liste : confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/matchs/delete/all" method="get">

                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir vider la liste secondaire ? Cette action est irréversible.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Confirmer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block endbody %}
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" charset="utf-8"></script>
{% endblock %}